<div class="modal fade" id="infobook" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="book-image">
        <img class="img-thumbnail" src="{{ asset('img/' ~ book.photo) }}">
        </div>
        <h5 class="modal-title" id="exampleModalLabel">{{book.title}}</h5>
      </div>
      <div class="modal-body">
        <p>{{book.author}}</p>
        <p>{{book.publishingHouse}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <span><a class="open-cart-items btn btn-primary" id="{{book.id}}" data-toggle="modal" data-target="#cart-modal">{{book.price}}</a></span>
        {% include "partials/_cartModal.html.twig" %}
      </div>
    </div>
  </div>
</div>