<div class="modal fade" id="infobook" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="book-image">
        <img class="img-thumbnail" id="bookPhoto" src="{{ asset('img/' ~ book.photo) }}" alt="no book image">
        </div>
        <h5 class="modal-title" id="bookTitle">{{book.title}}</h5>
      </div>
      <div class="modal-body">
        <p id="bookAuthor">{{book.author}}</p>
        <p id="bookpublishingHouse">{{book.publishingHouse}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <span><a class="btn btn-primary" href="/cart/add/{{book.id}}">{{book.price}}</a></span>
      </div>
    </div>
  </div>
</div>