<div class="container_book-container">

    <div class="row">
    {% for book in books %}
    <div class="col-4">
        <div class="book-image">
            <img class="img-thumbnail" src="{{ asset('img/' ~ book.photo) }}" alt="no book image"/>
        </div>
        <div class="book-info">
            <h5>{{book.title}}</h5>
            <p class="book-author">{{book.author}}</p>
            <p class="book-pHouse">{{book.publishingHouse}}</p>
            <p><a class="open-info-book btn btn-primary" id="{{book.id}}" data-toggle="modal" data-target="#infobook">
            {{book.price}}€</a> <a class="open-cart-items btn btn-primary" id="{{book.id}}"><i class="fa-solid fa-cart-shopping"></i></a></p>
           {{ include('partials/_infoBook.html.twig') }}
            {% include "partials/_cartModal.html.twig" %}
        </div>
    </div>
    {% endfor %}
    </div>
</div>